header {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: right;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding-right: 20px;
    max-width: 300px;
    align-items: right;
}

li {
    display: inline;
    padding: 0 10px;
    max-width: 300px;
}

.main-title {
    text-align: left;
    font-size: 36px;
    max-width: 200px;
}